In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns


pd.set_option("display.max_columns", None)

pd.set_option("display.max_rows", 200)

In [2]:
import warnings

warnings.filterwarnings("ignore")

In [3]:
df_train = pd.read_csv(r'C:\Users\User\OneDrive\Desktop\HACKATHON\merged_data_train.csv')

In [4]:
df_test = pd.read_csv(r'C:\Users\User\OneDrive\Desktop\HACKATHON\merged_data_test.csv')

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Overall_Experience       94379 non-null  int64
 2   Seat_comfort             94379 non-null  object
 3   Seat_Class               94379 non-null  object
 4   Arrival_time_convenient  94379 non-null  object
 5   Catering                 94379 non-null  object
 6   Platform_location        94379 non-null  object
 7   Onboardwifi_service      94379 non-null  object
 8   Onboard_entertainment    94379 non-null  object
 9   Online_support           94379 non-null  object
 10  Onlinebooking_Ease       94379 non-null  object
 11  Onboard_service          94379 non-null  object
 12  Leg_room                 94379 non-null  object
 13  Baggage_handling         94379 non-null  object
 14  Checkin_service          94379 non-null  object
 15  Cleanliness              94379 non-null  object
 16  Online_boarding          94379 non-null  object
 17  Gender                   94379 non-null  object
 18  CustomerType             94379 non-null  object
 19  Age                      94379 non-null  float64
 20  TypeTravel               94379 non-null  object
 21  Travel_Class             94379 non-null  object
 22  Travel_Distance          94379 non-null  int64
 23  DepartureDelay_in_Mins   94379 non-null  float64
 24  ArrivalDelay_in_Mins     94379 non-null  float64
dtypes: float64(3), int64(3), object(19)
memory usage: 18.0+ MB

In [6]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35602 entries, 0 to 35601
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       35602 non-null  int64
 1   Seat_comfort             35602 non-null  object
 2   Seat_Class               35602 non-null  object
 3   Arrival_time_convenient  35602 non-null  object
 4   Catering                 35602 non-null  object
 5   Platform_location        35602 non-null  object
 6   Onboardwifi_service      35602 non-null  object
 7   Onboard_entertainment    35602 non-null  object
 8   Online_support           35602 non-null  object
 9   Onlinebooking_Ease       35602 non-null  object
 10  Onboard_service          35602 non-null  object
 11  Leg_room                 35602 non-null  object
 12  Baggage_handling         35602 non-null  object
 13  Checkin_service          35602 non-null  object
 14  Cleanliness              35602 non-null  object
 15  Online_boarding          35602 non-null  object
 16  Gender                   35602 non-null  object
 17  CustomerType             35602 non-null  object
 18  Age                      35602 non-null  float64
 19  TypeTravel               35602 non-null  object
 20  Travel_Class             35602 non-null  object
 21  Travel_Distance          35602 non-null  int64
 22  DepartureDelay_in_Mins   35602 non-null  float64
 23  ArrivalDelay_in_Mins     35602 non-null  float64
dtypes: float64(3), int64(2), object(19)
memory usage: 6.5+ MB

In [7]:
df_train['Seat_comfort']

0        need improvement
1                    poor
2        need improvement
3              acceptable
4              acceptable
               ...
94374                poor
94375                good
94376    need improvement
94377    need improvement
94378          acceptable
Name: Seat_comfort, Length: 94379, dtype: object

In [8]:
# Encoding

In [9]:
obj = ['Seat_comfort', 'Arrival_time_convenient', 'Catering',
       'Platform_location', 'Onboardwifi_service', 'Onboard_entertainment',
       'Online_support', 'Onlinebooking_Ease', 'Onboard_service', 'Leg_room',
       'Baggage_handling', 'Checkin_service', 'Cleanliness',
       'Online_boarding']

In [10]:
for i in obj:
    df_train[i] = np.where(df_train[i] == 'extremely poor', '0',
                            np.where(df_train[i] == 'poor', '1',
                                     np.where(df_train[i] == 'need improvement', '2',
                                              np.where(df_train[i] == 'acceptable', '3',
                                                       np.where(df_train[i] == 'good', '4',
                                                                np.where(df_train[i] == 'excellent', '5', df_train[i])
                                                               )
                                                      )
                                            )
                                   )
                           )

In [11]:
df_train['Platform_location'] = np.where(df_train['Platform_location'] == 'very inconvinient','0',df_train['Platform_location'])
df_train['Platform_location'] = np.where(df_train['Platform_location'] == 'Inconvinient','1',df_train['Platform_location'])
df_train['Platform_location'] = np.where(df_train['Platform_location'] == 'need improvement','2',df_train['Platform_location'])
df_train['Platform_location'] = np.where(df_train['Platform_location'] == 'manageable','3',df_train['Platform_location'])
df_train['Platform_location'] = np.where(df_train['Platform_location'] == 'Convinient','4',df_train['Platform_location'])
df_train['Platform_location'] = np.where(df_train['Platform_location'] == 'very convinient','5',df_train['Platform_location'])

In [12]:
df_train['Platform_location'].value_counts()

3    24203
4    21912
2    17832
1    16449
5    13981
0        2
Name: Platform_location, dtype: int64

In [13]:
obj_1 = ['Gender', 'CustomerType', 'TypeTravel', 'Travel_Class']

In [14]:
df_train['Seat_Class'] = pd.get_dummies(df_train['Seat_Class'],drop_first=True)

In [15]:
df_train['Gender'] = pd.get_dummies(df_train['Gender'],drop_first=True)

In [16]:
df_train['CustomerType'] = pd.get_dummies(df_train['CustomerType'],drop_first=True)

In [17]:
df_train['TypeTravel'] = pd.get_dummies(df_train['TypeTravel'],drop_first=True)

In [18]:
df_train['Travel_Class'] = pd.get_dummies(df_train['Travel_Class'],drop_first=True)

In [19]:
df_train['Gender'] = pd.get_dummies(df_train['Gender'],drop_first=True)

In [20]:
ID = df_test['ID'].copy()

In [21]:
ID

0        99900001
1        99900002
2        99900003
3        99900004
4        99900005
           ...
35597    99935598
35598    99935599
35599    99935600
35600    99935601
35601    99935602
Name: ID, Length: 35602, dtype: int64

In [22]:
df_train = df_train.drop(['ID'], axis=1)

In [23]:
df_test  = df_test.drop(['ID'], axis=1)

In [24]:
df_train.head()

,Overall_Experience,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,0,2,0,5,5,5,4,2,3,2,2,3,2,4,2,1,0,0,52.0,0,0,272,0.0,5.0
1,0,1,1,5,1,2,4,1,4,4,5,2,1,2,4,4,1,0,48.0,1,1,2200,9.0,0.0
2,1,2,0,2,2,2,2,4,5,5,5,5,5,4,5,5,0,0,43.0,0,0,1061,77.0,119.0
3,0,3,1,2,3,2,3,2,3,3,3,3,3,4,3,3,0,0,44.0,0,0,780,13.0,18.0
4,1,3,1,3,3,3,2,4,5,4,4,4,4,4,4,4,0,0,50.0,0,0,1981,0.0,0.0

In [25]:
for i in obj:
    df_test[i] = np.where(df_test[i] == 'extremely poor', '0',
                            np.where(df_test[i] == 'poor', '1',
                                     np.where(df_test[i] == 'need improvement', '2',
                                              np.where(df_test[i] == 'acceptable', '3',
                                                       np.where(df_test[i] == 'good', '4',
                                                                np.where(df_test[i] == 'excellent', '5', df_test[i])
                                                               )
                                                      )
                                            )
                                   )
                           )

In [26]:
df_test['Platform_location'] = np.where(df_test['Platform_location'] == 'very inconvinient','0',df_test['Platform_location'])
df_test['Platform_location'] = np.where(df_test['Platform_location'] == 'Inconvinient','1',df_test['Platform_location'])
df_test['Platform_location'] = np.where(df_test['Platform_location'] == 'need improvement','2',df_test['Platform_location'])
df_test['Platform_location'] = np.where(df_test['Platform_location'] == 'manageable','3',df_test['Platform_location'])
df_test['Platform_location'] = np.where(df_test['Platform_location'] == 'Convinient','4',df_test['Platform_location'])
df_test['Platform_location'] = np.where(df_test['Platform_location'] == 'very convinient','5',df_test['Platform_location'])

In [27]:
df_test['Seat_Class'] = pd.get_dummies(df_test['Seat_Class'],drop_first=True)
df_test['Gender'] = pd.get_dummies(df_test['Gender'],drop_first=True)
df_test['CustomerType'] = pd.get_dummies(df_test['CustomerType'],drop_first=True)
df_test['TypeTravel'] = pd.get_dummies(df_test['TypeTravel'],drop_first=True)
df_test['Travel_Class'] = pd.get_dummies(df_test['Travel_Class'],drop_first=True)
df_test['Gender'] = pd.get_dummies(df_test['Gender'],drop_first=True)

In [28]:
df_test.head()

,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,3,0,3,3,3,2,5,4,5,5,5,5,4,5,1,0,0,36.0,0,0,532,0.0,0.0
1,0,1,4,1,3,3,1,3,3,5,3,4,3,5,3,0,1,21.0,0,0,1425,9.0,28.0
2,5,1,5,5,5,5,5,5,2,2,2,2,4,2,5,1,0,60.0,0,0,2832,0.0,0.0
3,3,0,5,3,5,1,3,5,1,3,2,5,5,5,1,0,0,29.0,1,1,1352,0.0,0.0
4,5,1,0,5,2,5,5,5,5,4,3,5,5,5,5,1,1,18.0,0,0,1610,17.0,0.0

In [29]:

X_train = df_train.drop(['Overall_Experience'], axis=1)

y_train = df_train['Overall_Experience']

In [30]:
df_test

,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,3,0,3,3,3,2,5,4,5,5,5,5,4,5,1,0,0,36.0,0,0,532,0.0,0.0
1,0,1,4,1,3,3,1,3,3,5,3,4,3,5,3,0,1,21.0,0,0,1425,9.0,28.0
2,5,1,5,5,5,5,5,5,2,2,2,2,4,2,5,1,0,60.0,0,0,2832,0.0,0.0
3,3,0,5,3,5,1,3,5,1,3,2,5,5,5,1,0,0,29.0,1,1,1352,0.0,0.0
4,5,1,0,5,2,5,5,5,5,4,3,5,5,5,5,1,1,18.0,0,0,1610,17.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,2,0,5,2,3,3,2,3,3,4,5,4,3,4,3,1,0,8.0,1,1,1334,0.0,0.0
35598,2,1,2,4,2,3,5,5,4,4,4,4,3,4,4,0,0,53.0,0,0,1772,0.0,0.0
35599,4,0,0,4,2,2,4,1,2,1,3,1,1,5,2,1,1,22.0,0,1,1180,0.0,0.0
35600,5,1,5,5,1,3,5,4,5,5,5,5,3,5,4,0,0,67.0,1,1,420,23.0,16.0
35601,4,1,3,4,3,1,4,1,1,3,4,4,2,4,1,1,0,20.0,1,1,1680,0.0,0.0

In [31]:
X_test = df_test

In [32]:
# Building models

## DECISION TREE

In [33]:
from sklearn.metrics import roc_auc_score,roc_curve,classification_report,accuracy_score,confusion_matrix

In [34]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier(criterion='gini',max_depth=10,random_state=0)
dt_model.fit(X_train,y_train)

y_pred_train = dt_model.predict(X_train)
y_pred_val = dt_model.predict(X_test)

In [35]:
from sklearn import metrics
dt_acc_train = metrics.accuracy_score(y_train,y_pred_train)
print("Train Accuracy:",dt_acc_train)
print()

dt_roc_train = metrics.roc_auc_score(y_train,y_pred_train)
print("Train ROC AUC score:",dt_roc_train)
print()

Train Accuracy: 0.935960330158192

Train ROC AUC score: 0.9366266054487075

In [36]:
#Base model train data classification report 

y_pred_base_model_train_dt = dt_model.predict(X_train)

print('CLASSIFICATION REPORT FOR BASE MODEL TRAIN DATA \n')
print(classification_report(y_train, y_pred_base_model_train_dt))

CLASSIFICATION REPORT FOR BASE MODEL TRAIN DATA

              precision    recall  f1-score   support

           0       0.92      0.94      0.93     42786
           1       0.95      0.93      0.94     51593

    accuracy                           0.94     94379
   macro avg       0.93      0.94      0.94     94379
weighted avg       0.94      0.94      0.94     94379

In [37]:
final_predictions_2 = dt_model.predict(X_test)
submission_2=pd.DataFrame([ID,final_predictions_2]).T
submission_2.rename(columns={"Unnamed 0": "Overall_Experience"},inplace=True)
submission_2.to_csv('submission_2.csv',index = False)

## RANDOM FOREST

In [38]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=10,criterion='gini',max_depth=10,random_state=0)
rf_model.fit(X_train,y_train)

y_pred_train = rf_model.predict(X_train)
y_pred_val = rf_model.predict(X_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np


# define hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 200,500],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']
}

# create random forest model
rf = RandomForestClassifier()

# perform grid search to find best hyperparameters
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)

# print best hyperparameters and corresponding accuracy
print('Best hyperparameters:', grid_search.best_params_)
print('Best accuracy:', grid_search.best_score_)

In [43]:
## Performance Matrix on train data set
y_train_predict = grid_search.predict(X_train)
model_score =grid_search.score(X_train, y_train)
print(model_score)
print(metrics.confusion_matrix(y_train, y_train_predict))
print(metrics.classification_report(y_train, y_train_predict))

1.0
[[42786     0]
 [    0 51593]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     42786
           1       1.00      1.00      1.00     51593

    accuracy                           1.00     94379
   macro avg       1.00      1.00      1.00     94379
weighted avg       1.00      1.00      1.00     94379

In [44]:
final_predictions_3 = grid_search.predict(X_test)
submission_3=pd.DataFrame([ID,final_predictions_3]).T
submission_3.rename(columns={"Unnamed 0": "Overall_Experience"},inplace=True)
submission_3.to_csv('submission_3.csv',index = False)

In [46]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [47]:
gb = GradientBoostingClassifier(n_estimators=200, max_depth=5, learning_rate=0.1, subsample=0.5, random_state=42)

In [48]:
gb.fit(X_train,y_train)

y_pred_train = gb.predict(X_train)
y_pred_val = gb.predict(X_test)

In [50]:
#Base model train data classification report 

y_pred_base_model_train_gb = gb.predict(X_train)

print('CLASSIFICATION REPORT FOR BASE MODEL TRAIN DATA \n')
print(classification_report(y_train, y_pred_base_model_train_gb))

CLASSIFICATION REPORT FOR BASE MODEL TRAIN DATA

              precision    recall  f1-score   support

           0       0.95      0.96      0.95     42786
           1       0.96      0.96      0.96     51593

    accuracy                           0.96     94379
   macro avg       0.96      0.96      0.96     94379
weighted avg       0.96      0.96      0.96     94379

In [49]:
final_predictions_7 = gb.predict(X_test)
submission_7=pd.DataFrame([ID,final_predictions_7]).T
submission_7.rename(columns={"Unnamed 0": "Overall_Experience"},inplace=True)
submission_7.to_csv('submission_7.csv',index = False)

In [51]:
from sklearn.ensemble import StackingClassifier

In [52]:
meta_model = RandomForestClassifier()

In [53]:
stack = StackingClassifier(estimators=[('rf', rf_model), ('dt', dt_model),('gb',gb)], final_estimator=meta_model)

In [54]:
stack.fit(X_train, y_train)

StackingClassifier(estimators=[('rf',
                                RandomForestClassifier(max_depth=10,
                                                       n_estimators=10,
                                                       random_state=0)),
                               ('dt',
                                DecisionTreeClassifier(max_depth=10,
                                                       random_state=0)),
                               ('gb',
                                GradientBoostingClassifier(max_depth=5,
                                                           n_estimators=200,
                                                           random_state=42,
                                                           subsample=0.5))],
                   final_estimator=RandomForestClassifier())

In [55]:
#Base model train data classification report 

y_pred_base_model_train_stack = stack.predict(X_train)
stack_acc_train = metrics.accuracy_score(y_train,y_pred_base_model_train_stack)
print('CLASSIFICATION REPORT FOR BASE MODEL TRAIN DATA \n')
print(classification_report(y_train, y_pred_base_model_train_stack))

CLASSIFICATION REPORT FOR BASE MODEL TRAIN DATA

              precision    recall  f1-score   support

           0       0.94      0.96      0.95     42786
           1       0.96      0.95      0.96     51593

    accuracy                           0.95     94379
   macro avg       0.95      0.95      0.95     94379
weighted avg       0.95      0.95      0.95     94379